<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="string1"
			 providerName="System.Data.SqlClient"
			 connectionString ="Server=(localdb)\MSSQLLocalDB;
			 Database=TeaShop;
			 Trusted_Connection=True;"/>
		<add name ="string2"
			 providerName="System.Data.SqlClient"
			 connectionString ="Server=(localdb)\MSSQLLocalDB;
			 Database=Warehouse;
			 Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>